<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Here</title>
    {% extends 'layout.html' %}
</head>
<body>
  {% block content %}
  <h1 class="bg-info p-5">Registration <i class="fa fa-user-injured"></i></h1>
    <form class="form-inline pl-5" action="" method="post">
      <div class="form-row p-2">
        <div class="p-2 sr-only">User Name</div>
        <div class="">
          <input class="form-control" type="text" placeholder="user name" name="username" value="">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2 sr-only">Password</div>
        <div class="">
          <input class="form-control" type="password" placeholder="password" name="password" value="">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2">
          <input type="submit" class="form-control btn btn-primary" data-toggle="modal" data-target="#myModal" id="login" onclick="return checkin()" name="login" value="Submit">
        </div>
      </div>
    </form>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Login Status</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

    </script>
  {% endblock %}
</body>
</html>
