<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Here</title>
    {% extends 'layout.html' %}
</head>
<body>
  {% block content %}
  <h1 class="bg-info p-4">Registration <i class="fa fa-user-injured"></i></h1>
  {% if error %}
  <p class="error pl-4"><strong>Error:</strong> {{error}}</p>
  {% endif %}
    <form class="form-inline pl-4" action="" method="post">
      <div class="form-row p-2">
        <div class="p-2 sr-only">User Name</div>
        <div class="">
          <input class="form-control" type="text" placeholder="user name" name="username" value="{{username}}">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2 sr-only">Password</div>
        <div class="">
          <input class="form-control" type="password" placeholder="password" name="password" value="">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2">
          <input type="submit" class="form-control btn btn-primary" data-toggle="modal" data-target="#myModal"
          onclick="return Alert();" value="Submit">
        </div>
      </div>
    </form>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Login Status</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <!-- {% if error %} -->
            <p class="error pl-4" id="error"><strong>Error:</strong> {{error}}</p>
            <!-- {% endif %} -->
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    // function Alert(){
      // err = document.getElementById("error");
      // err.innerHTML="Testing";
      // console.log("testing");
      // return false;
    // }

    </script>
  {% endblock %}
</body>
</html>
