<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% extends 'layout.html' %}
    <title>Paient List</title>
  </head>
  <body>
    {% block content %}
    <h1 class="bg-info p-5">Patient List <i class="fas fa-list"></i></h1>
    <form class="form-group pt-5" action="/patlist" method="post">
      <div class="form-row pl-5 pr-5">
        <table class="table table-responsive-sm table-striped table-hover table-bordered">
          <caption>List of Patients</caption>
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Id</th>
              <th>Birth Date</th>
              <th>Gender</th>
              <th>Address</th>
              <th>City</th>
              <th>Zip</th>
              <th>Home Phone</th>
              <th>Work Phone</th>
              <th>Mobile Phone</th>
              <th>eMail</th>
              <th>Website</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for each_patient in patientList %}
            <tr>
              {% for each_key in each_patient %}
              {% if each_key == "firstname" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "patientid" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "birthdate" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "gender" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "address" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "city" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "zip" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "hphone" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "wphone" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "mphone" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "email" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% if each_key == "website" %}
              <td>{{each_patient[each_key]}}</td>
              {% endif %}
              {% endfor %}
              <td>
                <a href="/delete?patientid={{each_patient['patientid']}}" class="btn btn-primary">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
              <td>
                <a href="/edit?patientid={{each_patient['patientid']}}" class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="form-row pl-5 pr-5">
        <div class="form-inline col-auto">
          <a class="btn btn-primary col-auto" role="button" href="/patientinfo">Don't see your patient? Click to Register Here</a>
        </div>
        <div class="form-inline col-auto">
          <label for="logout" class="sr-only">Logout</label>
          <a class="btn btn-danger" role="button" id="logout" href="/logout">Logout</a>
        </div>
      </div>
    </form>
    {% endblock %}
  </body>
</html>
