<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Patient Registration</title>
    <meta charset="utf-8">
    {% extends 'layout.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <style>
      #information{color:green;
        background:red;
      }
    </style> -->
  </head>
  <body>
    {% block content %}
    <h1 class="bg-info p-3">New Patient Registration <i class="fas fa-id-card"></i></h1>
    <nav class="nav nav-pills">
      <a class="nav-item nav-link active ml-3 mr-3 mb-2" href="/patlist" role="button">Patient List</a>
    </nav>
    <form class="bg bg-light" action="/patientinfo" method="post">
      <!-- <div class="accordian" id="accordian"> -->
        <!-- <div class="card"> -->
          <div class="card-header bg-warning" id="headingOne" >
            <button class="btn btn-info" type="button" name="PatientInformation" id="PatientInformation"
            onclick="showPI(this);">Patient Information</button>
          </div>
          <!-- <div id="collapseOne" class="collapse show" aria-labelledby="#headingOne" data-parent="#accordion"> -->
            <div class="card-body">
              <div class="form-row ml-5 mr-5 PI" id="PI" name="PI">
                  <div class="form-group col-1">
                    <label for="title" class="text-primary">Title</label>
                    <input class="form-control" type="title" name="title" value="" required>
                  </div>
                  <div class="form-group col-4">
                    <label for="firstname" class="text-primary">First Name</label>
                    <input class="form-control" type="firstname" name="firstname" value="" required>
                  </div>
                  <div class="form-group col-4">
                    <label for="lastname" class="text-primary">Last Name</label>
                    <input class="form-control" type="lastname" name="lastname" value="" required>
                  </div>
                  <div class="form-group col-1">
                    <label for="mi" class="text-primary">MI</label>
                    <input class="form-control" type="mi" name="mi" value="">
                  </div>
                  <div class="form-group col-2">
                    <label for="patientid" class="text-primary">Patient Id</label>
                    <input class="form-control" type="patientid" name="patientid" value="" required>
                  </div>
                </div>
              <div class="form-row ml-5 mr-5">
                  <div class="form-group col-3">
                    <label for="birthdate" class="text-primary">Birth date</label>
                    <input class="form-control" type="date" name="birthdate" value="{{birthdate}}" required>
                  </div>
                  <div class="form-group col-3">
                    <label for="gender" class="text-primary">Gender</label>
                    <div class="form-row">
                      <div class="form-check">
                        <input type="radio" name="gender" value="Male">Male
                      </div>
                      <div class="form-check">
                        <input type="radio" name="gender" value="Female">Female
                      </div>
                      <div class="form-check">
                        <input type="radio" name="gender" value="Male">Unknown
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label for="race" class="text-primary">Race</label>
                    <div class="form-row">
                      <div class="form-check">
                        <input type="checkbox" name="race" value="Caucasian">Caucasian
                      </div>
                      <div class="form-check">
                        <input type="checkbox" name="race" value="Asian" checked>Asian
                      </div>
                      <div class="form-check">
                        <input type="checkbox" name="race" value="African">African
                      </div>
                      <div class="form-check">
                        <input type="checkbox" name="race" value="Other">Other
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label for="ethnicity" class="text-primary">Ethnicity</label>
                    <input class="form-control" type="text" name="ethnicity" value="{{ethnicity}}">
                  </div>
                </div>
              <div class="form-row ml-5 mr-5">
                  <div class="form-group col-4">
                    <label for="address" class="text-primary">Address</label>
                    <textarea class="form-control" name="address" rows="1" cols="80"></textarea>
                  </div>
                  <div class="form-group col-2">
                    <label for="city" class="text-primary">City</label>
                    <input class="form-control" type="text" name="city" value="{{city}}">
                  </div>
                  <div class="form-group col-2">
                    <label for="state" class="text-primary">State</label>
                    <input class="form-control" type="text" name="state" value="{{state}}">
                  </div>
                  <div class="form-group col-2">
                    <label for="country" class="text-primary">Country</label>
                    <select class="form-control" name="country" value="{{country}}">
                      <option value="US">US</option>
                      <option value="India">India</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <label for="zip" class="text-primary">Zip</label>
                    <input class="form-control" type="text" name="zip" value="{{zip}}">
                  </div>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="card"> -->
          <div class="card-header bg-warning" id="headingTwo" >
            <button class="btn btn-link" type="button" onclick="">Additional Information</button>
          </div>
          <!-- <div id="collapseTwo" class="collapse show" aria-labelledby="#headingTwo" data-parent="#accordion"> -->
            <div class="card-body" id="2">
              <div class="form-row ml-5 mr-5">
                  <div class="form-group col-2">
                    <label for="hphone" class="text-primary">Home Phone</label>
                    <input class="form-control" type="tel" name="hphone" value="">
                  </div>
                  <div class="form-group col-2">
                    <label for="wphone" class="text-primary">Work Phone</label>
                    <input class="form-control" type="tel" name="wphone" value="">
                  </div>
                  <div class="form-group col-2">
                    <label for="mphone" class="text-primary">Cell Phone</label>
                    <input class="form-control" type="tel" name="mphone" value="">
                  </div>
                  <div class="form-group col-3">
                    <label for="email" class="text-primary">eMail</label>
                    <input class="form-control" type="email" name="email" value="">
                  </div>
                  <div class="form-group col-3">
                    <label for="website" class="text-primary">Website</label>
                    <input class="form-control" type="url" name="website" value="">
                  </div>
                </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <div class="form-row ml-5 mr-5 pt-3">
        <div class="form-group col-auto">
          <input class="btn btn-primary" type="reset" value="Reset">
        </div>
        <div class="form-group col-auto">
          <input class="btn btn-primary" type="submit" onclick="alert('New Patient Record is saved')" name="" value="Submit">
        </div>
      </div>
    </form>
    <script type="text/javascript">
      function showPI(x){
        x.innerHTML = "Hide Additional Information";
        // div = text[0];
        var text = document.getElementById("PI").children;
        console.log(text);
        for (var i=0; i<text.length; i++){
          i.style.display = none;
        }
        // if (text.style.display == "none"){
        //   text.style.display="block";
        // }
        // else{
        //   text.style.display = "none"
        //   x.innerHTML = "Additional Information"
        // }
      }
    </script>
    {% endblock %}
  </body>
</html>
