<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Login</title>
    {% extends 'layout.html' %}
</head>
<body>
  {% block content %}
  <h1 class="bg-info p-5">Patient Portal <i class="fa fa-user"></i></h1>
    <form class="form-inline pl-5" action="/patient" method="post">
      <div class="form-row p-2">
        <div class="p-2 sr-only">User Name</div>
        <div class="">
          <input class="form-control" type="text" placeholder="user name" name="username" value="{{username}}">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2 sr-only">Password</div>
        <div class="">
          <input class="form-control" type="password" placeholder="password" name="password" value="{{password}}">
        </div>
      </div>
      <div class="form-row p-2">
        <div class="p-2">
          <input class="btn btn-primary" type="submit" name="" value="Submit">
        </div>
      </div>
    </form>
  {% endblock %}
</body>
</html>
